
/*
SELECTORES

    Universal: * 
    De Tipo: cualquier sección html
        ej. h1, h2, input
    Clases: .nombreClase
    Identificador: #nombreIdentificador   tiene mas rango de especificidad que la clase => prioridad
    Atributo: [atributo="valor"]
    Descencientes: padre hijo 
        ej. h2 p {...}
        ej. .clase input {...}
        ej. #identificador label {...}
    pseudo-clases: por ejemplo los eventos de una clase
        ej: .clase:hover   siendo hover la pseudoclase


ESPECIFICIDAD

    Conflictos entre estilos aplicados al mismo objeto

    Siempre tiene persistencia el último estilo aplicado, el resto se aplica pero es sobreescrito, de ahí el nombre estilos en cascada, pero solo para elementos de la misma jerarquía,
    para elementos de la misma jerarquía, cuando son diferentes jerarquías se sigue la prioridad:
    
        !important   (indicamos a continuación del estilo, no es recomendable usarlo, caso extremo)
        Estilos en línea    (cuando indicamos dentro del html con style="" el estilo)
        Identificadores
        Clases, pseudo-clases y atributos
        elementos
        pseudo-elementos


METODOLOGIA BEM

    Nos basamos en el nombre de la clase para saber que elemento estamos seleccionando.

    A cada elemento si le aplicamos clase la ponemos con la nomenclatura::after
        class="nombreClaseContenedorOPadre__nombreClaseElemento"

    Ej. <div class="form">
            <input type="text" class="form__input">
            <input type="password" class="form__input">
        </div>
    
    Para los hijos de los hijos ya no se pone __  sino un simple -

    Ej. <div class="form">
            <input type="text" class="form__input">
            <input type="password" class="form__input">
            <p class="form__p"><h2 class="form__p-h2"></h2></p>
        </div>

        .form__p-h2 {
            color: red;            
        }


    Para cambiar al primero de los hijos input del contenedor contact-form::after
 
        .contact-form__input:first-child {
            color: red;            
        }
    
    Uso de --
    Otra forma es tener uno marcado con --marca:

    Ej. <div class="form">
            <input type="text" class="form__input">
            <input type="password" class="form__input--active">
        </div>
    
        .contact-form__input--active {
            color: red;            
        }        


TEORIA DE LAS MEDIDAS (relativas o fijas)
     
        Entre las medidas fijas tenemos:  
            pixeles 5px
            centimetros 5cm
            milimetros 5mm
            puntos 5pt

        Entre las medidas relativas tenemos:
            rem: tiene como referencia el root  
            em:  por defecto equivale a 16px aunque depende del navegador
                 La gracia del em es que su valor se hereda del contenedor, si en el contenedor tenemos un font-size de 20px cuando a un elemento hijo le aplicamos 
                 medidas em tendrá dicho valor como valor por defecto. Esto se aplica a todo lo que requiera medidas: font-size, padding, ...
            vw:  viewport width -> equivale al ancho de pantalla, se le indica un % de la misma. Ej. width: 100vw;   indica toda la pantalla
                 50vw sería el 50% de la pantalla
            vh:  viewport height -> equivale al alto de pantalla, se le indica un % de la misma. Ej. height: 100vh;   indica toda la pantalla
                 50vh sería el 50% de la pantalla
            %:   Indica un porcentaje de la caja que la contiene.



PROPIEDADES DE TEXTOS

    font-size: tamaño de la fuente aplicada
    font-family: familia de la fuente utilizada
    line-height: es el espacio ocupado por 1 letra. La particularidad es que nace del centro de la letra, si aplicamos line-height: 2; crecería media letra por encima 
                 y por debajo de la letra, es decir que al partir del centro crece por ambas partes por igual. No amplia la letra, sino que lo que amplia es el espacio ocupado, en el fondo 
                 haría como los margin - padding 
    font-weight: especifica el grosor aplicado a la fuente, si lo permite



NORMALIZE.css

    Se puede descargar y utilizar para recuperar los valores por defecto de estilos que deberían tener los navegadores:
        <link rel="stylesheet" type="text/css" href="normalize.css">
     
    Añadimos en las imágenes una línea para que las misma ocupen todo el ancho, esto es importante para los móviles:  max-width: 100%;

    img {
        border-style: none;
        max-width: 100%;
    }

    también añadimos para todos los elementos esto: 

    * {
        box-sizing: border-box;
        padding: 0;      con los 0 no hace falta indicar la unidad, porque se multiplica por cero
        margin: 0;
    }

    mantiene siempre la caja contenedora con las medidas establecidas aunque los elementos interiores quieran hacerla crecer.



TEORIA DE CAJAS

    Hay 2 tipos:

        las que son en linea:
            El ancho será el necesario para tener el contenido que le pongamos
            No se puede aplicar height o width, siempre ocupa lo que necesita
        las que son en bloque:
            Son las más grandes
            Se ajustan al ancho de la contenedora

    Para cambiar la disposición de uno a otro tenemos la propiedad display: inline;   display: block;

    


PROPIEDADES DE CAJAS

    background-color
    display: inline-block   --> permite que se comporte como un elemento en línea pero podrá adoptar las propiedades de un bloque.
        PADDING es la distancia entre los textos y los bordes de la caja contenedora.
    padding: 20px;    --> es como darle padding a todo: top, right, bottom y left
    padding: 10px 20px --> le da 10px al top y al bottom, mientras que le da 20px al right y al left
    padding: 30px 40px 50px 20px;   --> damos todos los paddings siendo por orden: top 30px, right 40px bottom 50px y left 20px  --> sigue el movimiento de las agujas del rejoj
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    height: 10px; 
    width: 10px;
    box-sizing: content-box;  --> si no ponemos esto los tamaños son la suma de las propiedades, por ejemplo en este caso el height sería de 10px + 20px del padding-top + 20px del padding-bottom
                              --> pero al ponerlo la caja mantiene su tamaño y no crece o disminuye.
        MARGIN es la distancia entre 2 cajas consecutivas, al igual que el padding tiene 4 lados y se puede poner de las mismas formas.                              
        Ojo se aplica en todos los lados de las cajas contenedoras, y en el medio habría doble distancia porque aplicaría el margin o padding de ambas cajas contenedoras. Por eso en el medio se reducen 
        los valores de padding y margin a la mitad:  left y right
        Si ponemos margin: auto; a una caja de tipo block y no está posicionado lo que hacemos es centrarla en pantalla.
        Este centrado solo vale para el eje horizontal, no pasa con el eje de las Y
    margin: 20px; 
    margin: 10px 20px --> le da 10px al top y al bottom, mientras que le da 20px al right y al left
    margin: 30px 40px 50px 20px;   --> damos todos los margins siendo por orden: top 30px, right 40px bottom 50px y left 20px  --> sigue el movimiento de las agujas del rejoj
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 10px;   --> indica el redondeado de las esquinas de las cajas contenedoras
    border-radius: 50%;   --> redondea toda la caja creando una circunferencia
    border: 4px solid blue  --> se indica el grueso del borde, el estilo y el color
    
    box-shadow: 2px 4px 15px 1px color;   --> es para dar sombra a la caja, siendo por orden los datos: desplazamiento para el lado, desplazamiento para abajo, difuminado, relleno y color 
    text-shadow: 2px 4px 15px color;  --> es para dar sombra al texto, siendo por orden los datos: desplazamiento para el lado, desplazamiento para abajo, difuminado y color 
        En ambos sombreados si queremos darle más intensidad basta con copiarlo y repetirlo separado por comas
    box-shadow: 2px 4px 15px 1px color, 2px 4px 15px 1px color;
    text-shadow: 2px 4px 15px color, 2px 4px 15px color; 

    transform: rotate(90deg);  es una función que se le pasa los grados como parámetros. Puede ser negativo para el efecto contrario de rotación.


OUTLINE:
    Es como un border pero no afecta al DOM, realmente no está dentro del DOM como lo estaría border. Es como un resaltado que no afecta a las posiciones de 
    los elementos, ni siquiera a la caja que lo utiliza.
    Aunque tengamos el box-sizing en cualquiera de sus opciones no reducirá ni hará grande la caja afectada, solo la remarcará sin mover el resto de elementos.
    El Outline tiene en cuenta el Z-Index de los elementos a la hora de pintar, por lo que pueden quedar ocultos algunos de los lados del resaltado si las cajas colindantes son más cercanas a la superficie.


POSITION:
    Permite posicionar un elemento. Este elemento adquiere nuevas propiedades como: top, right, left, bottom, z-index, ...
    Opciones posibles:
        Static: valor por defecto. Significa que NO está posicionado.
        Relative: 
            El espacio reservado por el elemento originalmente se convervará aunque se traslade a otra ubicación, y el resto de elementos no ocuparán su lugar.
            El elemento adquiere las propiedades top, left, right y bottom que se corresponden en sus origenes con los de la caja.
            Importante: si indicamos top o left tendrán prioridad sobre la propiedad bottom y right, ignorando estas últimas.            
        Absolute:
            El espacio reservado para el elemento deja de estarlo y pasa a ser ocupado por el próximo elemento.
            Las coordenadas de posicionamiento serán referidas al contenedor o al viewport si no tiene. Ya no serán referidas al origen de la caja como en el relative.
            El viewport es todo lo que podemos ver en pantalla, si apretamos F11 lo vemos.
            El ancho de los elementos con position: absolute; aunque sea una caja de tipo block pasará a ajustarse al contenido, si la queremos más grande habrá que indicarlo con medidas.
            El elemento contenedor debe estar posicionado, no vale como static. Si es static entonces los elementos contenidos tomarán como referencia al viewport para posicionarse como absolute.
        Fixed:
            Es igual en todo que el absolute, pero además tiene la particularidad que no se mueve nunca de la zona de pantalla aunque se realice scroll en la pantalla.
            En todo lo demás es igual. 
        Sticky:
            Es como una mezcla de Relative y Fixed: se comporta como el fixed, pero además mantiene el hueco ocupado no permitiendo que otros elementos se superpongan.
            El Sticky no se queda fijado cuando hacemos scroll se mueve con él hasta que llega al top indicado o a la posición indicada si no la tenía de origen.


Z-INDEX: 
    Orden de los elementos visualmente en el eje Z. Dicho de otra manera el que tenga el valor z-index más alto estará más cercano a nuestra vista y se verá por delante del resto de elementos con menor z-index.
    Esta propiedad se adquiere cuando la caja está posicionada, en el caso de position: static no existe o no tiene efecto.
    Tener en cuenta que por el hecho de estar posicionados aparecerán antes que otros elementos los últimos en pintarse, por efecto del orden de flujo al pintarse.
    Por defecto si no está posicionada tiene valor 0.
    En ese caso se tiene en cuenta el orden en que se pinta.
    Para poder agregar elementos nuevos y ordenarlos visualmente se recomienda poner incrementos de 50 o 100 en cada nuevo elemento z-index, asi podemos añadir elementos nuevos en medio.
    En el caso de contenedores padres e hijos, para que un hijo sea superado por el padre visualmente tenemos que ponerle un z-index: -1; al hijo y tener a ambos posicionados. En el padre no podemos tener ningún z-index definido para que funcione.


PROPIEDAD DISPLAY:
    Modifica el comportamiento de las diferentes cajas.
    Tiene muchas opciones posibles:
        (todas las opciones referentes a tablas están en deshuso)
        block -> 
            se comporta como bloque la caja ocupando todo el ancho de su contenedor
            no podemos poner una caja al lado de otra
        inline -> 
            solo ocupa el ancho que necesita para mostrar su contenido
            podemos poner cajas una al lado de otra
        inline-block -> 
            bloque en el que podemos cambiar las dimensiones de la caja
            podemos poner una caja al lado de otra 
        table ->
            que se comporte como una tabla
        inline-table ->
            que se comporte como una tabla en linea
        list-item ->
            lista de items
        table-cell ->
            es como una celda
        table-row ->
            es como una fila
        table-column ->
            es como una columna
        flex ->
        inline-flex ->
        grid ->       
        inline-grid ->


OVERFLOW:
    Indica qué hacemos con el contenido que desborda el contenedor. 
    Opciones:
        visible: es la que tenemos por defecto. Simplemente se pinta fuera de la caja contenedora
        auto: si sobresale aplica scroll
        scroll: sobresalga o no nos pone las barritas de scroll
        hidden: permite ocultar lo que sobresale y también quita el scroll forzado en el otro eje que hace que por defecto aparezca en este
            ej. overflow-x: scroll;
                overflow-y: hidden;
    Esta propiedad es un ShortHand: podemos referirnos al eje X y al eje Y con overflow-x y overflow-y


FLOAT:
    Opciones: right, left, none, inherit
    En este ejemplo de estilos podemos ver como el texto envuelve a la imagen mediante el uso de float: right; o float: left;


PSEUDO-ELEMENTOS:
    Algunos pseudo-elementos no forman parte del DOM, pero podemos ver cambios visuales como el outline. Los pseudo-elementos que requieren de la etiqueta content no forman parte del DOM.
    Se aplican a un elemento existente.
    La sintaxis en el selector es:  nombreDelElemento::pseudoElemento
        ej.
            .texto::first-line { ... }

    ::first-line -> 
        Si que forma parte del DOM.
        No funciona en elementos inline puro, si en inline-block
        los estilos aplicados a la primera linea serán independientes del ancho de la pantalla, solo afectará a la primera línea formada en cada viewport
    ::first-letter ->
        Si que forma parte del DOM.
        Mismo funcionamiento que para first-line pero afectando solo a la primera letra  
    ::placeholder ->
        Texto que aparece en el input. Por defecto tiene unas propiedades: color grisáceo, ...
        Podemos cambiar estas propiedades haciendo referencia al pseudo-elemento placeholder
    ::after  
        No forma parte del DOM.
        Necesita de la propiedad content.
        Se refiere a los hijos del content
        Añade contenido después del elemento afectado por el pseudo-elemento. No admite etiquetas en el texto
        IMPORTANTE: este elemento al no formar parte del DOM no podemos inspeccionarlo ni seleccionarlo en pantalla
    ::before  
        No forma parte del DOM.
        Necesita de la propiedad content.
        Se refiere a los hijos del content
        Añade contenido antes del elemento afectado por el pseudo-elemento. No admite etiquetas en el texto
        IMPORTANTE: este elemento al no formar parte del DOM no podemos inspeccionarlo ni seleccionarlo en pantalla
    ::selection ->
        Permite modificar el estilo de los textos seleccionados


PSEUDO-CLASES:
    Son o permiten escuchar eventos sobre los elementos seleccionados.
    Opciones:

    :hover -> 
        cuando el ratón pasa por encima del elemento
    :link ->
        cambiar un link aplicando un estilo, solo si no hemos visitado dicho link. Sería cambiar el estilo de los NO VISITADOS
    :visited ->
        cambiar un link aplicando un estilo, solo si hemos visitado dicho link. Sería cambiar el estilo de los YA VISITADOS
    NOTA: el link y el visited se aplican a elementos de tipo <a> y tienen prioridad sobre los propios elementos <a> salvo que indiquemos el !important a la propiedad
    :active ->
        se aplicará el estilo al elemento al que afecta cuando le demos un click a dicho elemento haciendolo activo en ese momento, Una vez soltemos el click dejará de estar activo y volverá a su estilo normal
        podemos darle una transición con el transition del elemento afectado
    :focus ->
        estilo cuando el elemento tiene el foco de la app
        por ejemplo si es un input podemos escribir en él y hasta que hagamos un lostfocus se aplicará el estilo
    :lang() ->
        se aplica el estilo a todos los elementos que estén marcados con el atributo lang="idioma"
        ej. en el elemento 
            <b lang="es">¿hola como estás?</b>
        en el style
            b:lang(es) {
                padding: 20px;
            }    


OBJECT-FIT:
    Se aplica a las imágenes:
    contain ->
        la imagen se ajusta hasta que una de las dimensiones llega al contenedor, width o height. Quedando el resto del otro eje sin cubrir por la imagen.
    cover ->
        la imagen se ajusta al contenedor completamente, manteniendo la escala y recortando lo que salga del contenedor
    none ->
        ningun efecto, mantiene la resolución original en el contenedor
    scale-down ->
        compara la imagen de contain y de none y se queda con el más pequeño


OBJECT-POSITION:
    permite ubicar la imagen de un determinado lado cortándose por el resto de lados. Esta opción se puede combinar con la de object-fit para conseguir mantener el trozo de imagen que queremos en pantalla cuando no cabe toda la imagen
    Left - Right - Top - Bottom

    también podemos indicarle medidas mediante: px - em - % - etc
    estas medidas pueden ser negativas para conseguir el efecto en sentido contrario


CURSOR:
    permite cambiar el cursor del elemento que estamos modelando en estilo. Podemos hacerlo en pseudo-clases y demás estilos.
    ej. 
            cursor: pointer;
            cursor: row-resize;  esta vale para permitir cambiar la anchura o altura del elemento

    algunos cursores: pointer, copy, progress, 
    la lista de cursores podemos verla en: https://www.w3schools.com/cssref/tryit.asp?filename=trycss_cursor


COLORES:
    La lista de colores CSS la podemos ver en https://www.mclibre.org/consultar/htmlcss/css/css-color.html
    Los colores se pueden indicar de muchas formas:
        1. Por el nombre 
        2. En hexadecimal 
        3. rgb 
        4. rgba 
        5. hsl
        6. hsla
    
    ej.
            Red
            #FF0000
            rgb(255 0 0)
            hsl(0 100% 50%)
            hwb(0 0% 0%)

    Los colores primarios en informática son RGB: rojo, verde y azul, no como en el arte que serían: rojo, azul y amarillo
    rgb(r, g, b) donde 
        r es la cantidad de red de 0 a 255
        g es la cantidad de green de 0 a 255
        b es la cantidad de blue de 0 a 255
    los colores extremos son:
        rgb(0,0,0) es negro
        rgb(255,255,255) es blanco
    la curiosidad es que mezclando rojo y verde sale amarillo, esto no pasaría en la vida real
    Los grises se hacen con todos los colores en el mismo nivel
    rgba(r, g, b, a) es lo mismo que rgb, pero podemos indicarle la opacidad del color en el cuarto parámetro
    al hacer un color mas transparente se verá influenciado por el color que hubiese debajo del mismo.
    La opacidad son valores del 0 al 1, siendo el 0 el más transparente o el menos opaco.
    En hexadecimal podemos indicarlo con 3 caracteres o con 6, con más o menos no funcionaría.
    Si indicamos 4 u 8 valores es para indicar la opacidad como en el rgba. Es decir el último indicador sería la opacidad:
        #fff -> r(f), g(f), b(f)
        #ffff -> r(f), g(f), b(f), a(f)
        #ffffff -> r(ff), g(ff), b(ff)
        #ffffffff -> r(ff), g(ff), b(ff), a(ff)


RESPONSIVE DESIGN - MOBILE FIRST
    Responsive es adaptar de escritorio a tablet o mobile
    Mobile first es adaptar desde el mobil a tablet y luego escritorio

    Para esto se usa el mediaquery:
        sintaxis: @media (max-width: 800px) { ... }
        este media query lo que hace es que cuando la pantalla alcance dimensiones 800px o menos se aplicarán los estilos indicados entre llaves

    Importante: para que coja las dimensiones reales del dispositivo hay que añadir el meta siguiente en el head de la página:
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    

TRANSITION:
    Establece el tiempo que ha de pasar desde el punto original hasta el final de un evento o cambio.
    ej. 
        transition: background 1s, height 1s, width .2s;
    Se puede indicar el evento o atributo afectado de forma explícita como en el ejemplo
    Si queremos que todos los atributos se cambien en el mismo tiempo:
    ej.
        transition: all 1s;


FLEX-BOX:
    Una caja flexible o flexbox contiene 2 vectores o ejes orientados, uno en el eje de las X que va de izquierda a derecha: main axis, y otro que va de arriba abajo que llamamos cross axis. 
    Al punto de inicio de ambos ejes lo llamamos: main-start y cross-start, mientras que el punto final lo llamamos main-end y cross-end
    Por un lado tenemos un contenedor flex que contendrá flex-items. Que no son mas que elementos dentro de un contenedor flex.
    Si tenemos otras cajas dentro de la flex box también serían flex-items, pero sus hijos o elementos ya no lo serían salvo que esas otras cajas también fueran flex boxes.

    Si indicamos el display: flex; a un contenedor las cajas que lo contienen se pondrán una al lado de la otra, pero con la gracia que tendrán la misma altura. 
    Si añadimos más contenido a una de las cajas, lo que hará será ajustar el contenido para mantener la altura de ambas cajas. Este es el comportamiento por defecto de las cajas flex-box.
    OJO: si no le damos ninguna anchura, es decir que tienen anchura sin definir y no tienen contenido no las mostrará, aunque tengamos definido el height.

    El contenido por defecto del vector para todos los elementos de dentro de la flex box está definido por:
        flex-direction: row;   esto quiere decir que van en el sentido de las X: main-axis de izquierda a derecha 
        Tenemos las opciones row, column, row-reverse y column-reverse
        Si queremos que se desplieguen como una columna siguiendo el eje cross-axis:
            flex-direction: column;
    Para indicarle que no queremos que los elementos de dentro del contenedor flexible mantengan sus dimensiones pasando a la línea de abajo si no caben antes que adaptar su contenido lo indicamos:
        flex-wrap: wrap;
        Tenemos las opciones wrap, no-wrap (sin efecto) y wrap-reverse (las cajas que saltan lo hacen hacia arriba, hacia la primera línea)
    Como abreviación de las propiedades flex-direction y wrap podemos usar flex-flow:
        flex-flow: flex-direction flex-wrap;  indicando los diferentes valores para ambas opciones
    Tenemos la opción justify-content que nos permite centrar o alinear los flex-items que contiene la flex-box. 
        Las opciones posibles son (solo afectan al main-axis):
            center: las centra
            space-arround: les da un margin: auto; a todas las cajas en el eje X        
            space-between: separa el contenido a través del eje X dándole el mayor espacio entre cajas, para ocupar todo el eje X.
            space-evenly: separa todas las cajas en el eje X pero asegurandose que todas las cajas tienen el mismo margen por todos lados, incluídas las de los costados que tendrán más margen por delante y por detrás según sea la primera o última caja.
    Para alinear en el cross-axis tenemos las propiedades align-items (para solo una línea de flex-items) y align-content (se usa cuando hay más de una línea de flex-items): 
        Las opciones posibles son (solo afectan al cross-axis):
            flex-start: los pone alineados al principio del eje Y
            center: se centra verticalmente
            flex-end: los pone alineados al final del eje Y
            stretch: es la propiedad por defecto. Estira la imágen todo el alto de la flex-box, a diferencia del resto de opciones que no la estiran
            baseline: similar al flex-start y flex-end, su uso está indicado con la opción wrap-reverse, cuando queremos que la nueva línea de cajas que no caben vaya hacia arriba pero que la primera línea se mantenga en su sitio.
        Si hacemos la pantalla más pequeña en resolución con la propiedad align-items y nos saltan las cajas a una nueva línea tendremos el problema que estas nuevas líneas se centran verticalmente, y aunque en ocasiones puede ser interesante no es el caso,
        para evitar esto y que se alineen correctamente debemos usar align-content para que la opción afecte a todas las líneas.


PROPIEDADES DE LOS FLEX-ITEMS:
    align-self: permite alinear un flex-item en el eje cross-axis de manera independiente al resto de elementos.
    margin: funciona de manera algo diferente al ser un flex-item el que lo aplica. Sobre todo el auto indica que aplique todo el margen posible al lado indicado, de tal forma que la caja se desplaza al lado o altura contraria a la indicada:
            margin-top: auto;  desplaza la caja al fondo del cross-axis
            margin-left: auto; desplaza la caja a la derecha del main-axis
        De esta forma podemos ubicar una caja en los extremos/esquinas de la flex-box contenedora            
        Si le damos el auto a dos lados o alturas opuestos se centra la caja por entrar en conflicto.
        Esto indica que si le damos margin: auto; centramos la caja en el contenedor flex-box
    flex-grow: reparte el espacio sobrante del contenedor entre los flex-items afectados en la proporción indicada, esto es como hacer cajas flexibles que se adaptan al ancho o alto del contenedor
        Se indica un número que es igual que decir el número de partes iguales del espacio sobrante que se lleva, si solo repartimos en un flex-item este indicador se lo llevaría todo, si lo hacemos en 2 cada uno se lleva una parte, y si en alguno indicamos otro número se llevará tantas partes como indique. 
        Es decir, se suman los numeros indicados en todos los flex-grow y se divide el espacio sobrante entre ese número para saber lo que supone una de esas partes, luego se aplica cada número de partes a cada flex-item segun lo indicado.
        El espacio se empieza a repartir cuando todas las cajas tengan su medida, es a partir de ahí cuando empiezan a crecer repartiéndose el espacio.
        Si indicamos 0 no crecerá.
    flex-basis: es como el width pero referida a flex-items y tiene más importancia que cualquier width que afectase al elemento
        Después de varias pruebas no parece que se comporte igual que un width, en algunos comportamientos no es lo mismo.
    flex-shrink: establece que partes del espacio debe ceder en el momento que el viewport disminuya y provoque que no puedan mantener su espacio las cajas. Por defecto su valor es 1, pero si le doy un 2 a una caja flex-item, esa caja cederá el doble que el resto de cajas en su espacio, haciéndose más pequeña que el resto al hacer pequeño el viewport.
        Si le ponemos un 0 no cederá espacio manteniendo su ancho siempre que quepa en el contenedor flex.
    flex: short-hand que agrupa por este orden: flex-grow flex-shrink flex-basis. Siendo al menos el primer parámetro obligatorio.
    order: es como el z-index pero en el eje que apunta el main-axis. Lo que hace es situar la caja en dicho orden, es decir que la mueve a la posición que toque dentro de su orden.
        El elemento con mayor order se situará al final del eje en el sentido establecido por flex-direction para la caja contenedora flex-box
    


GRID:
    Otra opción del display que nos permite trabajar con rejas o grids.
    Conceptos:
        Grid container: es el contenedor completo de la grid, el recuadro más exterior.
        Grid item: cada elemento dentro del contenedor grid. No confundir con el número de celdas, puesto que pueden existir celdas sin contenido y en ese caso no sería un grid-item
            Al igual que en la flex-box, solo son grid-item los hijos director del grid-container, los hijos de estos hijos directos ya no serían hijos.
        Grid cell: cada celda de la rejilla, tenga o no elemento o contenido.
        Grid track: hay de 2 tipos los row y los column. Se le llama grid-track al conjunto de celdas que forman una fila o columna, según el tipo. Es decir son filas o columnas sueltas o individuales.
        Grid area: selección hecha por nosotros de varias celdas que forman un área. Podría ser igual a 1 track, pero no necesariamente, pueden ser cualquier número de celdas, pero tienen que ser adjacentes o consecutivas espacialmente, no podemos saltearlas, ni crear Ls o Cruces de celdas, debe ser una área cuadrada o rectangular formada por celdas consecutivas.
            No existen como tal al crear el Grid, las tenemos que definir nosotros si queremos que existan. No tiene sentido que ocupe solo una celda, debería estar formada por varias celdas.
        Grid line: son cada una de las líneas físicas que crear la rejilla y por lo tanto la dividen en celdas. Las hay de tipo row-line y tipo column-line. Tener en cuenta que la primera siempre es la que define el container.


PROPIEDADES DE LOS GRID-CONTAINER:
    grid-template-rows: indica el número de columnas, se puede hacer de muchas maneras, por ejemplo dando el ancho de cada fila:
            grid-template-rows: 150px 150px 150px;   define 3 filas de 150px
    grid-template-columns: idem que template-rows pero para las columnas.
    Unidades fr: 1 fr es una medida flexible que se adapta al movimiento del viewport, si le damos como medidas el fr se pillará todo el espacio disponible una vez asignado lo que tengan el resto de columnas o filas hasta completar el espacio disponible.
    Para indicar una separación entre celdas podemos usar el grid-gap en sus diferentes modos:
        grid-row-gap: separación entre filas de las celdas
        grid-column-gap: separación entre columnas de las celdas
        grid-gap: row column  -> método abreviado de filas y columnas para el gap
    Con el gap no se aplica separación de los bordes del contenedor, solo se aplica separación entre filas y columnas.


PROPIEDADES DE LOS GRID-ITEMS:
    grid-column: 1/3; les está indicando a un elemento grid-item que en lugar de acabar en la columna 2 que sería lo normal desde la 1, lo haga en la 3, ocupando el especio de 2 columnas para ese elemento
        esto es un short-hand y sería lo mismo que decir:
            grid-column-start: 1;
            grid-column-end: 3;

    grid-row: 1/3; lo mismo que el anterior para las filas. También equivale a:
        grid-row-start: 1;
        grid-row-end: 3;

    span número: indica el número de columnas o filas que queremos que ocupe desde el origen de la celda que ya tiene definido el elemento:
        ej. grid-column: 1 / span 3;  sería como decirle grid-column: 1 / 4; ya que se va a pillas 3 columnas desde la 1
    
    repeat(repeticiones, medida): lo que hace es repetir tantas veces como indique (repeticiones) la medida indicada
        ej.  grid-template-rows: 150px 150px 150px;
             sería lo mismo que: repeat( 3, 150px );
        podemos indicar mas de una medida, entonces sería como indicar que repita 2 o más rows:
        ej. grid-template-rows: repeat( 3, 100px 150px ); repite 2 filas 3 veces, crea 6 filas


GRID IMPLICITO Y EXPLICITO:
    El explícito es elo definido por nosotros, mientras que el implícito es el que se crea al existir items que no caben en el grid explícito. Se suele dar cuando un item no cabe en el grid explícito. Tener en cuenta que sí que se dibuja y da lugar al grid implícito.


PROPIEDADES DEL GRID IMPLICITO:
    grid-auto-rows: igual que el grid-template-rows del grid explícito
    grid-auto-columns: igual que el grid-template-columns del grid explícito
    grid-auto-flow: indica la nueva expansión del grid si debe ser columna o fila
        row: se añaden como filas nuevas
        column: se añaden nuevas columnas
        dense: se rellenan los huecos que puedan quedar en el medio del grid por definiciones de columnas y filas en el grid explícito


GRID DINÁMICO: 
    Por defecto cuando indicamos medidas se respeta siempre el tamaño de la palabra más grande, es decir que no la parte en 2 y la manda a la siguiente fila o línea dentro de una celda.
    max-content: indica que la columna o fila tendrá el valor de lo que ocupa todo el item, el contenido de toda la línea si estamos hablando de una línea.
    min-content: indica que la columna o fila tendrá el valor del valor mínimo del contenido: lo normal es la palabra más grande e indivisible
    minmax(min, max): función que nos permite definir el mínimo y el máximo 
    auto-fill: permite rellenar siempre que pueda con una nueva columna o fila cumpliendo las propiedades definidas.
        ej. grid-template-columns: repeat(auto-fill, minmax(100px,1fr));  siempre que pueda meterá una nueva columna de 100px y mientras que no pueda pues estirará las columnas.
    auto-fit: lo escala para ocupar todo el espacio


ALINEACIÓN Y CONTROL DE FLUJO:
    Cuando aplicamos elementos de alineación como justify-items o align-items al grid-container se aplica a todas las columnas y filas como en el flex-container.       
    justify-items: alinea las columnas en el main-axis. Ojo, si las celdas no tienen un ancho las ajusta al contenido
        Tiene la mismas opciones que en el flex-container: center, start o flex-start, end o flex-end
    align-items: alinea el contenido de cada celda en el cross-axis. En este caso no centra las filas sino el contenido de cada celda.
        Tiene la mismas opciones que en el flex-container: center, start o flex-start, end o flex-end
    justify-content: pone todas las columnas al principio, centro o final de la grid-contenedora si hay espacio.
        También podemos indicarle además de las habituales center, start, end las: space-around, space-between y space-evenly
    align-content: pone las filas al principio, centro o final de la grid-contenedora si hay espacio.
        También podemos indicarle además de las habituales center, start, end las: space-around, space-between y space-evenly


ALINEACIÓN DE LOS ITEMS:
    align-self: permite indicar a un item su alineación en el cross-axis de forma independiente al resto.
    justify-sefl: permite indicar a un item su alineación en el main-axis de forma independiente al resto.
    place-self: align justify; es una abreviación de los dos anteriores
    order: funciona igual que en flex. A valores más altos se pone más lejos.


GRID-AREA:
    Se considera grid-area la selección de 2 o más celdas consecutivas o no dentro de un grid.
    Para definirla hay que dar 3 pasos:
    Indicar la distribución de las áreas en el grid-container
    .grid-container {
        grid-template-areas: 
            "header header header"
            "aside main main"
            "aside main main"
            "aside main main"
            "aside main main"
            "footer footer footer";
    }

    Indicar las filas que formarán el grid
    .grid-container {
        grid-template-rows: 100px repeat(4, 1fr) 100px;    
    }

    Indicar el area en los elementos:
    .grid-footer {
        grid-area: footer;
    }

    .grid-header {
        grid-area: header;
    }


USO DE NOMBRES PARA LAS LINEAS DE LA GRID: 
    Se definen cuando definimos las filas y columnas poniendo el nombre entre corchetes, y luego ya podemos utilizarlas en lugar de su número en el resto de propiedades
    .grid-container {
        display:grid;
        grid-template-rows:
            [fil1]
            150px
            [fil2]
            150px
            [fil3]
            150px
            [fil4];
        grid-template-columns: 
            [col1]
            100px
            [col2]
            100px
            [col3]
            100px
            [col4];
    }

    Referenciamos a las lineas por nombre:
    .grid-item:first-child {
        grid-row: fil1 / fil3;
        grid-column: col2 / col4;
    }


SHORT-HAND: atajo para todas las propiedades que hemos visto de la grid:
    grid: propiedades;
    No es recomendable por la cantidad de propiedades que tiene, pero para casos especiales puede ser de ayuda.


RESPONSIVE DESIGN:
    Adaptaciones de una pantalla para que pueda verse bien en todas las resoluciones.
    Se consigue con el uso de:
        1. Estructuras flexibles como contenedores flexibles, imágenes y vídeos flexibles.
        2. Media Queries
            @Media se usa en consultas de medios para aplicar diferentes estilos para diferentes tipos / dispositivos de medios.
            Validan varios datos:
                2.1. Ancho y alto de la ventana gráfica
                2.2. Ancho y alto del dispositivo
                2.3. Orientación del dispositivo: vertical (portrait) u horizontal (landscape)
                2.4. Resolución
            Tipos según su uso o utilidad:
                all: apto para todos los dispositivos
                print: para material impreso o en pantalla para visualización previa de la impresión
                screen: para las pantallas
                speech: destinado a sintetizadores de voz
            Utiliza los operadores AND y OR para aplicar varias @Media
    Hay 2 filosofias:
        MOVIL_FIRST: se hace la web para movil y luego se va adaptando para otros dispositivos mayores: tablets y PC
        DESKTOP_FIRST: la web se hace para un PC de escritorio y luego se va adaptando para dispositivos menores: tablet y movil
        CONTENT_FIRST: no es responsive como tal, no importa el dispositivo, sino el contenido, una vez tenemos ese contenido se plantea estructurarlo.



TRANSITION: 
    
        



NOTA DE HTML

    Si pones 2 elementos en líneas diferentes automaticamente aunque el margin sea 0 deja un espacio entre las cajas contenedoras, 

        ej.
            <h2>Primera Caja</h2>
            <h2>Segunda Caja</h2>

    En cambio si las ponemos en la misma línea no dejará espacio::after

        ej.
            <h2>Primera Caja</h2><h2>Segunda Caja</h2>

    Opacity: indica la transparencia de un elemento, siendo 1 totalmente opaco y 0 totalmente transparente.
        ej.
            opacity: .5;  la mitad de transparencia

    Tipos de Input: <input type="text" />
        text   -> texto normal
        password -> texto protegido para contraseñas
        range  -> permite introducir un rango
        color  -> permite introducir un color

    height: calc(100vh - 64px);  con esto podemos establecer calculos en tiempo real de diferentes unidades de medida


NOTAS DE WINDOWS

    Tecla de windows + flecha izquierda o flecha derecha: permite trabajar con la app activa en media pantalla


*/


* {
    font-family: 'Lobster', cursive;
    font-weight: 100;
}


.div-responsive {
    background: #c95;
}


@media screen and (min-width: 400px) and (max-width: 650px) {
    .div-responsive {
        background: red;
    }
}

@media screen and (min-width: 650px) and (max-width: 800px) {
    .div-responsive {
        background: green;
    }
}

@media screen and (min-width: 800px) and (max-width: 1200px) {
    .div-responsive {
        background: orange;
    }
}

@media screen and (min-width: 1200px) {
    .div-responsive {
        background: orangered;
    }
}
